@import 'screens/small.css';
@import 'screens/big.css';
@import 'screens/large.css';
@import 'screens/biggest.css';
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

body {
  font-family: 'Poor Story', cursive;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(25, 22, 84, 1) 0%,
    rgba(67, 198, 172, 1) 100%
  );
  color: var(--gray);
}

.js-form,
.form {
  margin-bottom: 1.5em;
}

.js-greetings {
  color: aliceblue;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

input {
  font-family: 'Poor Story', cursive;
  font-size: 1.2em;
  border-style: none;
  border-bottom: 1px solid var(--gray);
  background-color: transparent;
  transition: transform 0.7s ease-in-out;
  color: aliceblue;
}

input::placeholder {
  font-family: 'Poor Story', cursive;
  color: var(--gray);
}

input:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.clock {
  color: aliceblue;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}

.date {
  font-size: 1.5em;
  margin-bottom: 3em;
}

.listBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pending {
  margin-bottom: 0.5em;
}

.pending,
.finished {
  height: 25vh;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 1.5em;
  box-sizing: border-box;
  color: aliceblue;
  overflow-y: scroll;
}

.pending::-webkit-scrollbar,
.finished::-webkit-scrollbar {
  display: none;
}

.pending > span,
.finished > span {
  width: 100vw;
}

.items__pen,
.items__fin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.items__pen > li,
.items__fin > li {
  margin-bottom: 0.2em;
  font-size: 1.1em;
}

.delBtn,
.checkBtn,
.returnBtn {
  width: 1.5em;
  height: 1.5em;
  border-style: none;
  border-radius: 2px;
  background-color: aliceblue;
  padding: 0.1em;
  text-align: center;
  box-sizing: border-box;
  margin-left: 0.3em;
}

.delBtn:hover,
.checkBtn:hover,
.returnBtn:hover {
  cursor: pointer;
}
